<div *ngIf="currentStep === 0">
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

      <title>Document</title>
    </head>
    <body>
        <section>
            <header style="margin-top: -20px; margin-left: -10px;">
                <button class="btn" routerLink="/backtologin">
                  <!-- <i class="fas fa-arrow-left fa-xl"></i> -->
                  <mat-icon class="icon-one">arrow_back</mat-icon>

               </button>
               
               <div style="text-align: center;">
                <h1 style="margin-top: 25px;">Forgot Password?</h1>
                <p style="font-size: 14px;font-weight: 100;">Don't worry,it happens to the best of us.</p>
               </div>
            </header>
            <mat-form-field appearance="outline" id="matformfield"  >
              <mat-label> Enter Your email address</mat-label>
              
              <input matInput [(ngModel)]="inputValue" >
              <button id="myButtonId" mat-button  matSuffix mat-icon-button aria-label="Clear"(click)="inputValue=''">
                <mat-icon class="icon-two">close</mat-icon>
              </button>
            </mat-form-field>
            
            
           
           <div>
            <button type="button" (click)="nextStep()" class="btn" style="position: relative; margin-left: -10px; margin-top: 160px; z-index: 1;" >
              <img src="../../../assets/Images/continue11.png" alt="buttonpng" border="0" style="pointer-events: none;" />
          </button>
           </div>  
        </section>
        
    </body>
    </html>
    
    
    
    
  </div>
  
  <div *ngIf="currentStep === 1">
   
    <body>
      <section>
          <header style="margin-top: -20px; margin-left: -10px;">
              <button class="btn" (click)="prevStep()">
                <!-- <i class="fas fa-arrow-left fa-xl"></i> -->
                <mat-icon class="icon-one">arrow_back</mat-icon>

             </button>
             
              <h1 style="margin-top: 25px;text-align: center;">Check Your Email</h1>
              <p style="font-size: 13px;font-weight: 300;text-align: center;">We just sent an OTP to your registered email address</p>
          </header>
          
          <div class="otp-container mt-5">
            <input class="otp-input" maxlength="1" type="text">
            <input class="otp-input" maxlength="1" type="text">
            <input class="otp-input" maxlength="1" type="text">
            <input class="otp-input" maxlength="1" type="text">
          </div>
          <div style="font-weight: 300;text-align: center;margin-top: 50px;">
            <p>Didn't get a code?<a href="">Resend</a></p>
          </div>
          
        
          
         
         <div>
          <button type="button" (click)="nextStep()" class="btn" style="position: relative; margin-left: -10px; margin-top: 120px; z-index: 1;" >
            <img src="../../../assets/Images/Verifyotp.png" alt="buttonpng" border="0" style="pointer-events: none;" />
        </button>
         </div>  
      </section>
      
  </body>
  
 
  </div>
  <div *ngIf="currentStep === 2">
   
    
    <body>
      <section>
          <header style="margin-top: -20px; margin-left: -10px;">
              <button class="btn" (click)="prevStep()">
                <!-- <i class="fas fa-arrow-left fa-xl"></i> -->
                <mat-icon class="icon-one">arrow_back</mat-icon>

             </button>
             
              <h1 style="margin-top: 25px;text-align: center;">Reset Password?</h1>
              <p style="font-size: 14px;font-weight: 300;text-align: center;">Here's a tip:Use a combination of Numbers,</p>
              <p style="font-size: 14px;font-weight: 300;text-align: center;margin-top: -15px;">Uppercase,lowercase and Special characters</p>

          </header>
          
        
          <mat-form-field appearance="outline" id="new_password">
            <mat-label> New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" >
            <button id="excludeBtn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eye-icon">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>

          <mat-form-field appearance="outline" id="confirm_password">
            <mat-label> Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" class="confirm-password" >
            <button id="excludeBtn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eye-icon">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
        
          
         
         <div>
          <button type="button" (click)="nextStep()" class="btn" style="position: relative; margin-left: -10px; margin-top: 80px; z-index: 1;" >
            <img src="../../../assets/Images/Resetpassword.png" alt="buttonpng" border="0" style="pointer-events: none;" />
        </button>
         </div>  
      </section>
      
  </body>
   
    
  </div>
  
  <div *ngIf="currentStep === 3">
   
    <body>
      <section>
         <div>
          <button type="button" (click)="nextStep()" class="btn" style="position: relative; margin-left: -10px;z-index: 1;margin-top: 60px;" >
            <img src="../../../assets/Images/Successimg.png" alt="buttonpng" border="0" style="pointer-events: none;" />
        </button>
         </div> 
         <div style="text-align: center;">
          <h2>Reset Successful</h2>
          <p style="font-weight: 300; font-size: 15px; margin-top: -10px;">You can login to your account</p>
          <button type="button" routerLink="/backtologin" (click)="nextStep()" class="btn" style="position: relative; margin-left: -10px; margin-top: 110px; z-index: 1;" >
            <img src="../../../assets/Images/Login_Button.png" alt="buttonpng" border="0" style="pointer-events: none;" />
        </button>
         </div> 
        
      </section>
      
  </body>
    
  </div>
  