/* .stepper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .stepper div {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .stepper div.active {
    background-color: #ddd;
  } */
  
  section {
    position: relative;  /* This is added to allow absolute positioning inside */
    height: 620px;
    width: 360px;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 20px;
  
}

body
{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 320px;  
    /* width for iPhone SE */
    margin: 0 auto;  /* center the body content */
   /* position: relative; */

   
}
header
{
    padding: 30px;
    padding-top: 45px;
}
/* mat-form-field 
{
  width: 280px;
  margin-left: 30px;
  margin-top: 80px;
} */
#matformfield
{
  width: 280px;
  margin-left: 30px;
  margin-top: 80px;
}
#confirm_password,#new_password
{
  width: 290px;
  margin-left: 30px;
 
}
#new_password
{
  margin-top: 70px;
}

/* To avoid mat-icon to get overlap  */

button[mat-icon-button]#myButtonId{
  position: relative;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 20px;
  background-color: white;
  border-width: 1px;
  height: 19px;
  margin-left: -30px;
  border-color: black;
}
/* Target mat-icon directly */
.icon-two {
  font-size: 16px;
  margin-left: -8px;
}
.icon-one
{
  font-size: 26px;
}

.btn-close
{
  font-size: 12px;
  margin-top: -5px;
  margin-right: -10px;
}

/* For OTP */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 40px; */
  
}

.otp-input {
  width: 35px;
  height: 40px;
  margin: 0 13px;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgba(51, 51, 51, 0.527);
  font-size: 20px;
  outline: none;
}



.eye-icon {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.confirm-password
{
  /* margin-bottom: 10px; */
}

 



